<%- model_class = MediaType -%>
<h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>

<div class="form-actions">
<table>
<tr>
  <td><%= link_to t('.new', :default => t("helpers.links.new")),
            new_media_type_path,
            :class => 'btn btn-primary', :style => 'color: white' %></td>
  <td><button class="btn editar">Editar</button></td>
  <td><button class="btn btn-danger borrar">Borrar</button></td>
</tr>
</table>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><input type="checkbox" id="selectAll" value="yes"></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th>Creado</th>
    </tr>
  </thead>
  <tbody>
    <% @media_types.each_with_index do |media_type, index| %>
      <tr id="list">
        <td><%= index + 1 %></td>
        <td><input type="checkbox" class="tf" value="<%= media_type.id %>"></td>
        <td><%= link_to media_type.name, edit_media_type_path(media_type), :style => 'text-decoration: underline' %></td>
        <td><%= media_type.description %></td>
        <td><%=l media_type.created_at, format: '%a, %d de %b de %Y' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @media_types, :container => false %>
</div>

<script>
$(function() {
  $('.editar').click(function() {
    var ids;

    ids = $('input[type=checkbox]:checked').map(function() {
            return $(this).attr('value');
        }).get();

    if(ids.length > 0) {
      var route = '<%= link_to 'Editar', edit_media_type_path('PLACEHOLDER') %>';
      ids.forEach(function(id, index, array) {
        if(id != 'yes') {
          /* Me quedo con el index 1 porque divido la url con el caracter " y el primero tiene el contenido del href */
          window.location = route.replace('PLACEHOLDER', id).split('"')[1];
        }
      })
    } else {
      alert('Por favor, seleccione un elemento de la lista');
    }
  });

  $('.borrar').click(function() {
    var ids;

    ids = $('input[type=checkbox]:checked').map(function() {
      return $(this).attr('value');
    }).get();

    if(ids.length > 0) {
      var c = confirm('Esta seguro?');
      if(c == true) {
        var route = '/media_types/bulk_delete?ids=PLACEHOLDER';
        window.location = route.replace('PLACEHOLDER', ids).replace('yes,', '');
      }
    } else {
      alert('Por favor, seleccione un elemento de la lista');
    }
  });
});
</script>