<%= form_tag(media_path, method: :put, :id => 'customer_search', :remote => false) %>
  <table class="table table-bordered table-condensed table-nohover">
    <thead>
      <tr><th colspan="3">Criterios de busqueda</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="control-group">
            <div class="controls">
              <%= text_field_tag :nombre, session[controller_name.to_sym][:nombre], :class => 'text_field', :placeholder => 'Nombre' %>
              <%= select_tag :media_type_id, options_for_select(MediaType.all.collect{|m| [m.name, m.id]}, session[controller_name.to_sym][:media_type_id]), {prompt: 'Seleccione tipo de medio'} %>
              <%= button_tag(:class => 'btn btn-primary', :style => 'margin-top:-10px') do %>
                <span class="icon-search"></span> Buscar
              <% end %>
              <%= link_to "Reestablecer", media_path(:reset => true), :class => 'btn btn-default', :style => 'margin-top:-10px' %>
            </div>
          </div>
        </td>
    </tbody>
  </table>
</form>
