<%- model_class = Media -%>
<h2>Medios</h2>

<div  class="form-actions">
<table>
<tr>
  <td><%= link_to 'Nuevo', new_medium_path, :class => 'btn btn-primary', :style => 'color:white' %></td>
  <td><button class="btn editar">Editar</button></td>
  <td><button class="btn btn-danger borrar">Borrar</button></td>
</tr>
</table>
</div>

<%= render 'search_form' %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th><input type="checkbox" value="yes" id="selectAll"/></th>
    <th><%= model_class.human_attribute_name(:nombre) %></th>
    <% if false %>
    <th><%= model_class.human_attribute_name(:description) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <% end %>
    <th>Descripción</th>
    <th>Creado</th>
  </tr>
  </thead>
<tbody>
<% @media.each_with_index do |media, index| %>
  <tr id="list">
    <td><%= index + 1 %></td>
    <td><input type="checkbox" class="tf" value="<%= media.id %>" ></td>
    <td><%= link_to media.nombre, edit_medium_path(media), :style => 'text-decoration:underline' %></td>
    <td><%= media.description %></td>
    <td>
    <% if media.created_at.present? %>
      <%=l media.created_at, format: '%a, %d de %b de %Y' %>
    <% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @media, :container => false %>
</div>

<script>
$(function() {
  $('.editar').click(function() {
    var ids;

    ids = $('input[type=checkbox]:checked').map(function() {
            return $(this).attr('value');
        }).get();

    if(ids.length > 0) {
      var route = '<%= link_to 'Editar', edit_medium_path('PLACEHOLDER') %>';
      ids.forEach(function(id, index, array) {
        if(id != 'yes') {
          /* Me quedo con el index 1 porque divido la url con el caracter " y el primero tiene el contenido del href */
          window.location = route.replace('PLACEHOLDER', id).split('"')[1];
        }
      })
    } else {
      alert('Por favor, seleccione un elemento de la lista');
    }
  });

  $('.borrar').click(function() {
    var ids;

    ids = $('input[type=checkbox]:checked').map(function() {
      return $(this).attr('value');
    }).get();

    if(ids.length > 0) {
      var c = confirm('Esta seguro?');
      if(c == true) {
        var route = '/medias/bulk_delete?ids=PLACEHOLDER';
        window.location = route.replace('PLACEHOLDER', ids).replace('yes,', '');
      }
    } else {
      alert('Por favor, seleccione un elemento de la lista');
    }
  });
});
</script>
